<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste</title>
</head>
<body>
  <div class="div-input">
    {{ form.email.label(class="label") }}
    {{ form.email(class="input") }}
  </div>

  <div class="div-input">
    {{ form.senha.label(class="label") }}
    {{ form.senha(class="input") }}   
  </div>

  <div class="div-botao">
    {{ form.botao_confirmacao(class="botao-login") }}
    <a href="{{url_for('criarconta')}}" class="link-criarconta">Não tem uma conta? Crie aqui</a>
  </div>
</form>
</body>
</html>

